#title {
    background-color: orange;
    text-align: center;
    color: white;
}

p {
    color: blue;
}

form {
    background-color: blanchedalmond;
}

body {
    background-color: aquamarine;
}

div {
    color: orangered;
}